<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication2.Properties.Settings.DESKTOP_OBJDOO9_Sql2008ConnectionString"
            connectionString="Data Source=DESKTOP-OBJDOO9\Sql2008;Initial Catalog=DESKTOP-OBJDOO9\Sql2008;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication2.Properties.Settings.dataConnectionString"
            connectionString="Data Source=.\SQL2008;Initial Catalog=data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>